@import 'reset-css/reset.css';
@import 'material-design-lite/material.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@custom-media --large screen and (min-width: 45em);

body {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, .87);
  background-color: #EEE;

  a {
    text-decoration: none;
  }

  h4 {
    display: block;
  }

  .match-day {
    width: 100%;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (--large) {
      width:
    }

    .day-name {
      width: 100%;
    }
  }

  .about, .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;

    .paper {
      width: 100%;
      min-height: 5em;
      padding: 1em;
      margin-bottom: 16px;
    }
  }

  .chosen {
    height: 15em;
    width: 105% !important;
  }

  .row {
    display: flex;
    width: 100%;

    .home-team, .away-team {
      width: 40%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5em;
    }
    .time {
      width: 20%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6em;
      padding: .5em;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
  }

  .extra-info {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    .competition {
      font-size: 0.8rem;
    }
  }
}
